:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive, sans-serif;
    color: #264653;
    margin: 0;
    padding: 0;
}

html {
    background-color: #a8dadc;
}

.container {
    max-width: 90%;
    margin: 3rem auto;
}

i {
    background-color: none;
    color:  white;
    padding: 1.5rem;
    font-size: 5rem;
    margin: 0 5%;
}

.fa-robot {
    font-size: 4.5rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 400;
}

p {    
    background-color: none;
    font-size: 2rem;
    font-weight: 700;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menu h3 {
    max-width: 50%;
}

#menu div {
    width: 50%;
    padding: 4rem 5rem;
    margin-top: 3rem;
    background-color: #1d3557;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    cursor: pointer;
}

#menu div:hover {
    animation-duration: .8s;
    animation-name: btnHover;
    animation-iteration-count: infinite;
}

#menu div > * {
    display: inline-block;
    color: white;
}

/* GAME STYLE*/

#game {
    display: none;
    width: 90%;
    margin: 0 auto;
    padding: 0 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 3rem 0;
}

.game-ui {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5rem;
}

/*#player-info i {
    background-color: #457b9d;
    margin-bottom: 2rem;
    padding: 2rem 2.5rem;
}*/

#player-info div {
    text-align: center;
    background-color: #457b9d;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    transition: transform .8s ease-in-out;  
}

.current-turn {
    transform: scale(1.1);
    border: 2px solid #f1faee;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .5rem;
    justify-items: center;
    align-items: center;
}

#game-board {
    max-width: 50%;
    max-height: 50%;
}

#item {
    background-color: #f1faee;
    display: inline-block;
    font-size: 3.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    /*padding: 5rem;*/
    width: 10rem;
    height: 10rem;
    align-self: center;
    border: none;
}

#item:hover {
    animation-duration: 1s;
    animation-name: cellHover;
    animation-iteration-count: infinite;
}

/* WINNER MODAL */
#winnerModal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 23, 42, .8);
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 40%;
    margin: 20% auto;
    padding: 2rem;
}

.modal-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.modal-container button {
    width: 30%;
    padding: .5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.modal-container button:hover {
    animation-duration: .8s;
    animation-name: btnHover;
    animation-iteration-count: infinite;
}

/* ANIMATIONS */

@keyframes btnHover {
    0% {
        width: 50%;
    }

    50% {
        width: 55%;
    }

    100% {
        width: 50%;
    }
}

@keyframes cellHover {
    0% {
        opacity: 1;
        border: 2px solid rgba(69,123,157, 1);
    }

    25% {
        opacity: .5;
        border: 2px solid rgba(69,123,157, 1);
    }

    75% {
        opacity: .8;
        border: 2px solid rgba(69,123,157, 1);
    }

    100% {
        opacity: 1;
        border: 2px solid rgba(69,123,157, 1);
    }
}