:root {
	font-size: 62.5%; 
}

* {
	box-sizing: border-box;
	font-family: 'KoHo', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 90%;
	margin: 3rem auto;
}

h1 {
	font-size: 6rem;
}

h3 {
	font-size: 2.5rem;
	font-weight: 400;
}

p {
	font-size: 2rem;
	font-weight: 600;
}

#menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#menu h3 {
	max-width: 50%;
}

#menu div {
	width: 50%;
	padding: 5rem;
	margin-top: 3rem;
	background-color: #f7f7f7;
	border: .2rem solid #5e4e4e;
	border-radius: 1rem;
	cursor: pointer;
}

/* GAME STYLE*/

#game {
	display: none;
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem;
	justify-items: center;
	align-items: center;
}

#game-board {
	max-width: 50%;
}

#item {
	cursor: pointer;
	padding: 5rem;
	align-self: center;
}